.bg-vue-dark {
   color: #fff;
   background: #31475e;
}
.hover-class:hover {
   cursor: pointer;
   background: #8ae4ff;
}
.bg-vue-red {
   background: #8B008B;
}
.bg-vue-white {
   background: rgb(255, 233, 137);
}
.bg-calc {
   background: #F4A460;
}
